<div class="row">
  <div id="envelope-container">
    <div class="envelope com-10 shadowed">
      <div class="address from-address">
        {{render "address" fromAddress}}
      </div>

      <div class="address to-address">
        {{render "address" toAddress}}
      </div>

      <div class="postage">
        {{#if shipment.selectedRate}}
          ${{shipment.selectedRate.rate}}
        {{else}}
          <a href="#" {{action 'estimatePostage' }}>Estimate Postage</a>
        {{/if}}
      </div>
    </div>
  </div>
  <div id="instructions-container">
    {{#if shipment.rates}}
      <h4>Available Rates</h4>
      <table id="rates">
        <tbody>
          {{#each rate in shipment.rates}}
            <tr>
              <td>{{rate.carrier}} {{rate.service}}</td>
              <td><strong>${{rate.rate}}</strong></td>
              <td><a {{action 'buy' rate }} href="#">Buy</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h4>Instructions</h4>
      <ol>
        <li>Fill in the sender's address</li>
        <li>Fill in the receiver's address</li>
        <li>Choose price and buy postage</li>
      </ol>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-5">
    <div class="col-lg-2">
      <button type="button" disabled class="btn btn-lg btn-red">Print</button>
    </div>
  </div>
</div>

